<div class="widget-cntnr locker-widget">
  <div class="title heading">
    <h3>
      <%= @photo_hunt.name %>
    </h3>
  </div>
  <div>
    <%= render "photo_hunts/sketch_pad_photo_hunt", photo_hunt: @photo_hunt %>
  </div>
</div>
