<!DOCTYPE html>
<html>
<head>
  <title>Dudeler</title>
  <link rel="stylesheet" href="http://globalhack4.test.lockerdome.com/css/css/styles.1433614390000.css" type="text/css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="http://globalhack4.test.lockerdome.com/css/css/styles-blessed1.1433614390000.css" type="text/css" media="screen" charset="utf-8">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
